#home-splash {
    background-color: rgb(77, 26, 43);
}

#home-splash h2 {
    position: absolute;
    top: 70%;
    right: 60%;
    /* transform: translate(50%, 50%); */
    font-size: 40px;
    font-weight: 300;
    color: white;
    padding-left: 50px;
  }

video {
  width: 100%;
  height: 100%;
}

#our-services {
  background-color: rgb(77, 26, 43);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#our-services h3 {
  font-size: 30px;
  color: white;
  border: 2px solid;
  border-radius: 10px;
  padding: 20px !important;
}

#our-services-cards {
    display: flex;
    justify-content: space-evenly;
  }
  
  #our-services-cards .card {
    text-align: center;
    margin: 50px;
    padding: 0px 30px 30px 30px;
    color: white;
    font-size: 25px;
    width: 75%;
  }
  
  .service-icon {
    font-size: 50px;
  }
  
  #learn-more-btn {
    background-color: transparent;
    border: 2px solid;
    border-radius: 5px;
    padding: 12px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 50px;
  }
  
  #learn-more-btn a {
    text-decoration: none !important;
      color: white;
  }
  
  #learn-more-btn:hover {
    color: silver;
    background-color: rgb(77, 26, 43);
    transition: 0.5s ease;
  }


/* Extra small devices */
@media only screen and (min-width: 320px) and (max-width: 479px) {
  #home-splash h2 {
    display: none;
  }

  #our-services {
    justify-content: center !important;
    text-align: center;
  }

  #our-services-header {
    width: 75%;
    text-align: center;
    font-size: 12px !important;
  }

  #our-services-header h3 {
    font-size: 22px !important;
  }

  #our-services-cards {
    flex-direction: column;
    align-items: center;
  }

  #our-services-cards .card {
    margin: 0px !important;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  #home-splash h2 {
    display: none;
  }

  #our-services {
    padding: 0px !important;
    margin: 0px !important;
    text-align: center !important;
  }

  #our-services h3 {
    border: 0px !important;
  }

  #our-services-cards .card {
    margin: 20px !important;
  }

  #learn-more-btn {
    width: 20% !important;
  }

  #contact-form {
    width: 50% !important;
  }

}

@media only screen and (min-width: 769px) and (max-width: 900px) {
  #home-splash {
    overflow: hidden !important;
  }

  #home-splash h2 {
    display: none;
  }

}