#mission-top {
    background-image: url("../../assets/images/florian-hahn-overlay.jpg");
    background-position: center;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }
  
  #mission-top {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px;
    padding: 100px;
  }
  
  #mission-top h2 {
    font-size: 40px;
    font-weight: lighter;
  }
  
  #mission-top p {
    width: 50%;
    font-size: 20px;
  }

  #mp-bottom-contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around !important;
    align-items: center;
    background-image: url('../../assets/images/pexels-valeria-boltneva-1123262.jpg');
    background-position: center bottom;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }

  /* Extra small devices */
@media only screen and (min-width: 320px) and (max-width: 479px) {
  #mission-top p {
    width: 100% !important;
  }

  #mp-bottom-contact-container {
    background-color: grey;
    background-image: none;
  }
}

/* Portrait tablets and large phones */
@media only screen and (min-width: 480px) and (max-width: 768px) {

  #mission-top p {
    width: 70% !important;
    font-size: 20px;
  }

  #mp-bottom-contact-container {
    background-size: auto;
  }

  #mp-bottom-contact-container #google-map {
    display: none;
  }
}

/* Landscape tablets  */
@media only screen and (min-width: 769px) and (max-width: 900px) {

  #mp-bottom-contact-container #google-map {
    display: none;
  }
  
}